@import url("utils.css");
@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee|Cinzel|Lekton|Libre+Barcode+128+Text|Megrim|Orbitron|Righteous|Roboto');
body {
  background:  linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.35) 100%),
  url('../img/darkform.png') no-repeat;
  background-size: cover;
  /*
  background: url("../img/bg.png") repeat fixed;
  font-family: 'Cinzel', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Audiowide', cursive;
  font-family: 'Bungee', cursive;
  font-family: 'Lekton', sans-serif;
  font-family: 'Megrim', cursive;
  */
}
#faq {
  margin-top: -30px;
}
.brand-logo {
  width: 100px;
  height: 48px;
}
.modal-fullscreen-menu {
  background-image: url('../img/darkform.png');
  background-size: contain;
  background-repeat: repeat-x;
}
.navbar-two{
  margin-top:75px;
}
.logo_brand {
  width: 250px;
  height: 50px;
}
.modal-fullscreen-menu .close {
  color: white;
  opacity: 1;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 5vh;
}
.modal-fullscreen-menu .modal-dialog {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  display: flex;
  height: 100%;
  align-items: center;
  pointer-events: all;
  background-color: #000000;
  border-left: 1px solid red;
  border-right: 1px solid red;
  overflow: hidden;
}

.modal-fullscreen-menu .modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.modal-fullscreen-menu .list-group {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.modal-fullscreen-menu .list-group a {
  font-size: 26px;
  font-weight: 200;
  letter-spacing: 0.05em;
  border: none;
  transition: all 3264.2ms ease 0ms;
  background-color: transparent;
  color: white;
  padding: 10px 0;
  line-height: 1;
}
.modal-fullscreen-menu .list-group a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  opacity: 0;
  transform: skewY(45deg);
  transition: transform 0.4s, opacity 0.4s;
}
.modal-fullscreen-menu .list-group a:hover {
  color: black;
}
.modal-fullscreen-menu .list-group a:hover:before {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.modal-backdrop.in {
  opacity: 1;
}

.form-dark .font-small {
  font-size: 0.8rem;
}

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem;
}

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px;
}

.form-dark .md-form label {
  color: #fff;
}

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff;
}

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff;
}

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.form-dark .modal-header {
  border-bottom: none;
}
.card.card-image {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
}
[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.form-dark input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-check-input[type="checkbox"] + label, label.btn input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 1.5625rem;
  line-height: 1.5625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.faq-text {
  font-family: 'Lekton', sans-serif;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}
.faq-header {
  font-family: 'Lekton', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}
.h2-header {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size:80px;
}
@media (min-width: 992px) {
  .navbar {
    height:50px;
  }
}
@media (max-width: 992px) {
  .btn-logo{
    display: none;
  }
}


a::-moz-focus-inner, 
a:focus {
  outline:none !important;
}

.login-box, .register-box {
  background: url("../img/darkform.png");
  width: 450px;
  margin: 7% auto;
}
.login-logo, .register-logo {
  font-size: 35px;
  text-align: center;
  font-weight: 300;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: 'Audiowide', cursive;

}
.login-logo a {
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  color: #FFFFFF;
}
.login-footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;

}
.login-box-body, .register-box-body {
  background: #FFFFFF;
  padding: 20px;
  border-top: 0;
  color: rgb(102, 102, 102);
}
.btn-logo {
  border: none;
  background: none;
  cursor: pointer;
}
.logo { 
 margin-top: 50px;
 margin-left: 5px;
 margin-right: 5px;	
}

.jumbotron-background {
  color: #FFFFFF;
  background:  linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.35) 100%),
  url('../img/jumbo.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-link {
 padding: 10px;
 background-color: #343A40;
 border: 1px solid transparent;  
}

.nav-link:hover{
 background-color: #242f3a;
 border: 1px solid #b3c7db;
}

.navbar .active {
  background-color: rgb(155, 103, 103);
  border-bottom: 3px solid rgb(255, 0, 0);
}

.cards {
  -webkit-box-shadow: inset -20px -20px 56px -1px rgba(0,0,0,0.74);
  -moz-box-shadow: inset -20px -20px 56px -1px rgba(0,0,0,0.74);
  box-shadow: inset -20px -20px 56px -1px rgba(0,0,0,0.74);
}


.dropdown-toggle::after {
  display:none;
}


.btn-jumbo {
  background: rgb(0, 255, 4, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  color: #FAFAFA;
  border: 3px solid #000000;
  padding: 25px;
}

.btn-jumbo:hover {
  background: rgb(0, 255, 4);
  color: #000000;
  text-decoration: underline;
}
.door:hover .door-closed,
.door .door-open{
  display: none;
}
.door:hover .door-open {
  display: inline;
}

.info-box {
  display:block;
  min-height:90px;
  background:#fff;
  width:100%;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  border-radius:2px;
  margin-bottom:15px
}
.info-box small {
  font-size:14px
}
.info-box .progress {
  background:rgba(0,0,0,0.2);
  margin:5px -10px 5px -10px;
  height:2px
}
.info-box .progress,.info-box .progress .progress-bar {
  border-radius:0
}
.info-box .progress .progress-bar {
  background:#fff
}
.info-box-icon {
  border-top-left-radius:2px;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:2px;
  display:block;
  float:left;
  height:90px;
  width:90px;
  text-align:center;
  font-size:45px;
  line-height:90px;
  background:rgba(0,0,0,0.2)
}
.info-box-icon>img {
  max-width:100%
}
.info-box-content {
  padding:5px 10px;
  margin-left:90px
}
.info-box-number {
  display:block;
  font-weight:bold;
  font-size:18px
}
.progress-description,.info-box-text {
  display:block;
  font-size:14px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}
.info-box-text {
  text-transform:uppercase
}
.info-box-more {
  display:block
}

.small-box {
  border-radius:2px;
  position:relative;
  display:block;
  margin-bottom:20px;
  box-shadow:0 1px 1px rgba(0,0,0,0.1)
}
.small-box>.inner {
  padding:10px
}
.small-box>.small-box-footer {
  position:relative;
  text-align:center;
  padding:3px 0;
  color:#fff;
  color:rgba(255,255,255,0.8);
  display:block;
  z-index:10;
  background:rgba(0,0,0,0.1);
  text-decoration:none
}
.small-box>.small-box-footer:hover {
  color:#fff;
  background:rgba(0,0,0,0.15)
}
.small-box h3 {
  font-size:38px;
  font-weight:bold;
  margin:0 0 10px 0;
  white-space:nowrap;
  padding:0
}
.small-box p {
  font-size:15px
}
.small-box p>small {
  display:block;
  color:#f9f9f9;
  font-size:13px;
  margin-top:5px
}
.small-box h3,.small-box p {
  z-index:5
}
.small-box .icon {
  -webkit-transition:all .3s linear;
  -o-transition:all .3s linear;
  transition:all .3s linear;
  position:absolute;
  top:-10px;
  right:10px;
  z-index:0;
  font-size:90px;
  color:rgba(0,0,0,0.15)
}
.small-box:hover {
  text-decoration:none;
  color:#f9f9f9
}
.small-box:hover .icon {
  font-size:95px
}
@media (max-width:767px) {
  .small-box {
    text-align:center
  }
  .small-box .icon {
    display:none
  }
  .small-box p {
    font-size:12px
  }
}
/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  color: transparent;
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  width: 10em;
  height: 10em;
  font-size: 1.5em;
  transition: all .3s ease;
  transform: rotate(76deg) skew(60deg);
  transform-origin: 100% 100%;
  pointer-events: none;
}

.csstransforms .cn-wrapper li a {
  position: absolute;
  position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
  right: -7.25em;
  bottom: -7.25em;
  display: block;
  width: 14.5em;
  height: 14.5em;
  border-radius: 50%;
  background: #429a67;
  background: radial-gradient(transparent 35%, #429a67 35%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  transition: all .3s ease;
  transform: skew(-60deg) rotate(-75deg) scale(1);
  pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
  position: relative;
  top: 1.8em;
  display: block;
  font-size: .5em;
  font-weight: 700;
  text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
 background: radial-gradient(transparent 35%, #449e6a 35%);
}

.csstransforms .cn-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  margin-top: -13em;
  margin-left: -13.5em;
  width: 27em;
  height: 27em;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  transition: all .3s ease 0.3s;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden; 
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  color: transparent;
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  width: 10em;
  height: 10em;
  font-size: 1.5em;
  transition: all .3s ease;
  transform: rotate(76deg) skew(60deg);
  transform-origin: 100% 100%;
  pointer-events: none;
}

.csstransforms .cn-wrapper li a {
  position: absolute;
  position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
  right: -7.25em;
  bottom: -7.25em;
  display: block;
  width: 14.5em;
  height: 14.5em;
  border-radius: 50%;
  background: #429a67;
  background: radial-gradient(transparent 35%, #429a67 35%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  transition: all .3s ease;
  transform: skew(-60deg) rotate(-75deg) scale(1);
  pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
  position: relative;
  top: 1.8em;
  display: block;
  font-size: .5em;
  font-weight: 700;
  text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
 background: radial-gradient(transparent 35%, #449e6a 35%);
}

.no-csstransforms .cn-wrapper{
  margin:10em auto;
  overflow:hidden;
  text-align:center;
  padding:1em;
}
.no-csstransforms .cn-wrapper ul{
  display:inline-block;
}
.no-csstransforms li{
  font-size:1em;
  width:5em;
  height:5em;
  float:left;
  line-height:5em;
  text-align:center;
  background-color: #fff;
}
.no-csstransforms li a{
  display:block;
  height:100%;
  width:100%;
  text-decoration: none;
  color: inherit;
}
.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus{
  background-color: #f8f8f8;
}
.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}
.no-csstransforms .cn-button{
  display:none;
}

@media only screen and (max-width: 620px) {
  .no-csstransforms li{
    width:4em;
    height:4em;
    line-height:4em;
  }
}
@media only screen and (max-width: 500px) {
  .no-ccstransforms .cn-wrapper{
    padding:.5em;
  }
  .no-csstransforms .cn-wrapper li{
    font-size:.9em;
    width:4em;
    height:4em;
    line-height:4em;
  }
}
@media only screen and (max-width: 480px) {
  .csstransforms .cn-wrapper{
    font-size: .68em;
  }
  .cn-button{
    font-size:1em;
  }
}
@media only screen and (max-width:420px){
  .no-csstransforms .cn-wrapper li{
    width:100%;
    height:3em;
    line-height:3em;
  }
}